<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
</head>
<body>
	<div class="menu-customize" th:fragment="menu">
		<a class="nav-link active" href="#">Tài khoản Admin</a> <a
			class="nav-link" href="#">Quản lý tài khoản</a> <a class="nav-link"
			th:href="@{/CandidateAccount}">Quản lý UCV</a> <a class="nav-link" th:href="@{/RecruiterAccount}">Quản lý NTD</a>
		<a class="nav-link" href="#">Thống kê</a> <a class="nav-link" href="#">Quản
			lý CV</a>
	</div>
</body>
</html>