<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<link href="[YOUR_FAVICON_PATH]/favicon.ico" rel="icon"
	type="image/x-icon" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Trang Chu Danh Cho Nha Tuyen Dung</title>
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/style_index.css}">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style type="text/css">
::-webkit-scrollbar {
	width: 0px; /* Remove scrollbar space */
	background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
	background: #FF0000;
}
</style>
</head>
<body>
	<!-- FOOTER -->
	<nav th:fragment="footer">
		<div style="text-align: left; padding-left: 100px;">
			<h5 th:inline="text"
				style="letter-spacing: 3px; font-family: Time New Roman; padding-top: 30px; padding-bottom: 30px; font-size: 30px; margin-top: 20px;">Đối
				Tác</h5>
		</div>
		<footer class=" "
			style="text-align: center; color: white; margin-bottom: 200px;">


			<img
				src="https://i.chungta.vn/2017/12/22/LogoFPT-2017-copy-3042-1513928399.jpg"
				style="height: 100px; width: 150px; margin: 40px;" /> <img
				src="https://img.idesign.vn/2020/09/snag_bbbda5.png"
				style="height: 100px; width: 150px; margin: 40px;" /> <img
				src="https://cdn.tgdd.vn/GameApp/2/225523/Screentshots/utop-ung-dung-dat-do-an-mua-ve-xem-phim-nap-the-dien-225523-logo-02-07-2020.png"
				style="height: 100px; width: 150px; margin: 40px;" /> <img
				src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/NASA_logo.svg/1200px-NASA_logo.svg.png.png"
				style="height: 100px; width: 150px; margin: 40px;" /> <img
				src="https://upload.wikimedia.org/wikipedia/vi/thumb/9/98/Vingroup_logo.svg/1200px-Vingroup_logo.svg.png"
				style="height: 100px; width: 150px; margin: 40px;" /> <br>
			<button
				style="background-color: #CC0066; color: white; padding-left: 20px; padding-right: 20px; padding-top: 5px; padding-bottom: 5px">Xem
				Thêm</button>
		</footer>

	</nav>
	<!-- /FOOTER -->
</body>
</html>