<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layoutDoanhNghiep}">
<head>
<title>CV Nổi Bật</title>
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/style_index.css}">
<link rel='stylesheet' type='text/css' media='screen'
	href='/css/recommend.css'>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.standalone.min.css" />
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script src="/plugin/ckeditor/ckeditor.js"></script>
<style type="text/css">
#datepicker input {
	background-color: white;
}

#datepicker>*:hover {
	cursor: pointer;
}

.form-group .form-control-icon {
	position: absolute;
	z-index: 99999999;
	display: block;
	width: 2.375rem;
	height: 2.375rem;
	line-height: 2.375rem;
	text-align: center;
	pointer-events: none;
	right: 0.5rem;
}
</style>
</head>
<body>
	<div layout:fragment="content">
		<div class="container-fluid bg-transparent mb-3">
			<div style="width: 100%;">
				<section
					class="news__banner pt-5 pb-5 mt-0 align-items-center d-flex">
					<div class="container-fluid">
						<div
							class="row justify-content-center align-items-center d-flex text-center h-100">
							<div class="col-12 col-md-8 h-50">
								<h1 class="display-3 mb-2 mt-5">
									<strong>TIN TUYỂN DỤNG</strong>
								</h1>
								<p class="mb-3 h3">Thành Công Của Bạn Bắt Đầu Với Chúng Tôi</p>
								<p>
									<a href="#"
										class="shadow-lg text-light px-5 py-2 text-decoration-none h5"
										style="background-color: #C84869;">Bắt Đầu</a>
								</p>
							</div>
						</div>
					</div>
				</section>
				<div class="row mt-5">

					<!-- Left -->
					<div class="col-sm-3" style="width: 20%">
						<h2 style="text-align: center;">Tìm Ứng Tuyển Viên</h2>
						<div style="width: 70%; margin: auto;">
							<p class="chuyennganh_UTV" style="text-align: center;">Chuyên
								Ngành</p>
							<button class=".btn-chuyennganh"
								style="width: 100%; font-family: Time New Roman;">CNTT</button>
							<button class=".btn-chuyennganh"
								style="width: 100%; font-family: Time New Roman; margin-top: 15px;">Kinh
								Tế - Nhà Hàng - Khách Sạn</button>
							<button class=".btn-chuyennganh"
								style="width: 100%; font-family: Time New Roman; margin-top: 15px;">Ngôn
								Ngữ</button>
						</div>
						<div style="width: 70%; margin: auto;">
							<p class="chuyennganh_UTV"
								style="text-align: center; margin-top: 60px;">Địa Điểm</p>
							<button class=".btn-chuyennganh"
								style="width: 100%; font-family: Time New Roman;">Hồ
								Chí Minh</button>
							<button class=".btn-chuyennganh"
								style="width: 100%; font-family: Time New Roman; margin-top: 15px;">Hà
								Nội</button>
							<button class=".btn-chuyennganh"
								style="width: 100%; font-family: Time New Roman; margin-top: 15px;">Cần
								Thơ</button>
							<button class=".btn-chuyennganh"
								style="width: 100%; font-family: Time New Roman; margin-top: 15px;">Khác</button>
						</div>
					</div>

					<!-- Content -->
					<div class="mt-5" style="width: 55%">
						<div class="row" style="column-count: 3;">
							<div class="d-flex" th:each="cv : ${cvs}" style="width: 33%">
								<div class="card card_CV">
									<a th:attr="href='/cv/checkCV/'+${cv.id}"><img style="object-fit: content; height: 60%; margin-left: 45px; width: 60%"
										th:src="'/display/files/'+${cv.candidate.image}"></a>
									<div class="container">
										<a th:attr="href='/cv/checkCV/'+${cv.id}" style="color: black"><b th:utext="${cv.candidate.fullName}" ></b> - <span
											th:utext="${cv.job.jobName}"></span></a>
										<hr>
										<div class="row">
											<i class="bi bi-eye ml-1"></i>
											<div class="ml-1" th:utext="*{cv.views}" style="width: 20px;"></div>
											<div class="ml-4">Write a comment</div>
											<div class="ml-4" >10</div>
											<i class="bi bi-heart ml-1"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
							<nav th:unless="${totalItems==0}">
								<ul class="pagination mt-5">
									<li class="page-item" th:if="${currentPage > 1}"><a
										class="page-link" th:href="@{/?pageNum=1}">First</a></li>
									<li class="page-item" th:if="${currentPage > 1}"><a
										class="page-link"
										th:href="@{'/?pageNum=' + ${currentPage - 1}}">Previous</a></li>
									<li class="page-item"
										th:each="i: ${#numbers.sequence(1, totalPages)}"><a
										class="page-link" th:if="${currentPage != i}"
										th:href="@{'/?pageNum=' + ${i}}">[[${i}]]</a>
										<span class="page-link text-dark"
										th:unless="${currentPage != i}">[[${i}]]</span> &nbsp;</li>
									<li class="page-item" th:if="${currentPage < totalPages}"><a
										class="page-link"
										th:href="@{'/?pageNum=' + ${currentPage + 1}}">Next</a></li>
									<li class="page-item" th:if="${currentPage < totalPages}"><a
										class="page-link"
										th:href="@{'/?pageNum=' + ${totalPages}}">Last</a></li>
								</ul>
							</nav>
							
					</div>

					<!-- Right -->
					<div style="width: 20%; float: left;">
						<div class="container">
							<a href="#" style="color: black;">
								<h3>CV Nổi Bật</h3>
							</a>
							 <div style="column-count: 2">
								<div class="row mt-5" style="display: inline-table;"
									th:each="cvInID : ${cvInIDs}">
									<div class="col CV_Noi_Bat">
										<a th:attr="href='/cv/checkCV/'+${cvInID.id}"><img style="width: 100%;" th:src="'/display/files/'+${cvInID.candidate.image}">
										<span th:utext="${cvInID.candidate.fullName}" style="color: black"></span> - <span
											th:utext="${cvInID.job.jobName}" style="color: black"></span> - <span
											th:utext="${#dates.format(cvInID.candidate.dateOfBirth, 'dd-MM-yyyy')}" style="color: black"></span></a>
									</div>
								</div>
							</div>

						</div>
						<div class="col mt-5">
							<a href="#" style="color: black;">
								<h3>Doanh Nghiệp Nổi Bật</h3>
							</a>
							<div class="doanh_nghiep_noi_bat" style="float: left;"
								th:each="recommendDTO : ${recommendDTOs}">
								<div style="display: inline-flex;">
									<img class="image_doanh_nghiep_noi_bat"
										th:src="'/display/files/'+${recommendDTO.image}" />
									<div class="content_doanh_nghiep_noi_bat">
										<span th:utext="${recommendDTO.jobName}"></span> - <b><span
											th:utext="${recommendDTO.companyName}"></span></b>
										<p th:utext="${recommendDTO.address}"></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>