<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layoutViewer}">
<head>
<title>Edit</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

<link th:href="@{/css/capnhat_thongtin.css}" rel="stylesheet" />
<link rel="stylesheet" href="../css/capnhat_thongtin.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script type="text/javascript">
	function dieuhuong() {
		let app = $("#nganhid").find(":selected").val();
		return app;
	}
	function kiemTra() {

	}
	function readURLReview(input) {
		if (input.files && input.files[0]) {
			var reader = new FileReader();
			reader.onload = function(e) {
				$('#image').attr('src', e.target.result).width(250).height(150);
			};
			reader.readAsDataURL(input.files[0]);
		}
	}
	window.onload = function() {
		var fileupload = document.getElementById("fileload");
		var button = document.getElementById("image");
		button.onclick = function() {
			fileupload.click();
		}
		fileupload.onchange = function() {
			var file = $("input[type=file]").get(0).files[0];
			if (file) {
				var reader = new FileReader();
				reader.onload = function() {
					$("#image").attr("src", reader.result);
				}
				reader.readAsDataURL(file);
			}
		};
	};
	
	
	function InvalidMsg(textbox) {
		var text = textbox.value
		if (textbox.value=='') {
			textbox.setCustomValidity('Thông tin của bạn chưa được điền đầy đủ');
		} else if(text.trim()==''){
			textbox.setCustomValidity('Không được bắt đầu bằng ký tự khoẳng trắng');
		} else {
			textbox.setCustomValidity('');
		}
		return true;
	}
	function Invalidphone(textbox) {
		var text = textbox.value
		var regex = "[0-9]";
		var phone = text.trim();
		if (textbox.value=='') {
			textbox.setCustomValidity('Thông tin của bạn chưa được điền đầy đủ');
		} else if(text.trim()==''){
			textbox.setCustomValidity('Không được bắt đầu bằng ký tự khoẳng trắng');
		}else if(!textbox.value.match(regex)){
			textbox.setCustomValidity('Số điện thoại bắt buộc là số');
		}else if(phone.length!=10){
			textbox.setCustomValidity('Số điện thoại chỉ được 10 số');
		} else {
			textbox.setCustomValidity('');
		}
		return true;

	}
</script>
</head>
<div class="container" layout:fragment="content">
	<div class="float:left container-fluid">
		<form th:object="${UTV}" th:action="@{save_utv}" action="#"
			method="post" enctype="multipart/form-data" name="editntd">

			<div class="container"
				style="background-color: #2135BF; margin-top: 5%; height: auto; display: grid;">
				<img id="image" class="rounded-circle image_avata"
					onchange="readURLReview(this)"
					th:src="'/display/files/'+${UTV.image}" alt=""> <input
					type="hidden" th:field="${UTV.image}"> <input type="file"
					id="fileload" name="files" title="Load file"
					accept="image/x-png,image/gif,image/jpeg" style="display: none" />
			</div>
			<div style="float: left;">
				<button class="a" style="color: #8592FF;" disabled>Tài
					Khoản của tôi</button>
				<h4>Tài khoản của tôi</h4>
				Xem và chỉnh sửa thông tin cá nhân bên dưới của bạn
			</div>
			<div th:if="${success}=='success'"
				style="margin-top: 1%; float: right;">
				<div class="alert alert-success alert-dismissible fade show">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					Cập nhật thành công
				</div>
			</div>
			<hr style="width: 100%; float: left;">
			<input type="hidden" class="form-control kichthuoc"
				th:field="${UTV.users.id}" name="" required="required"> <input
				type="hidden" class="form-control kichthuoc" th:field="${UTV.id}"
				name="" required="required">

			<table class="table borderless">
				<tr>
					<th colspan="3">Email đăng nhập</th>
					<th rowspan="2"><a th:href="@{/updatepassword}"
						class=" btn btn-danger btn_updatepassword"> ĐỔI MẬT KHẨU </a></th>
				</tr>
				<tr>
					<th colspan="3" th:text="${UTV.users.email}"><input
						type="hidden" th:value="${UTV.users.userName}"></th>

				</tr>
				<tr>
					<th colspan="3">TÊN ỨNG TUYỂN VIÊN<br> <br> <input
						type="text" class="form-control kichthuoc"
						oninvalid="InvalidMsg(this);" oninput="InvalidMsg(this);"
						th:field="${UTV.fullName}" name="" required="required"></th>
					<th colspan="3">Ngày Sinh<br> <br> <input
						type="date" th:field="${UTV.dateOfBirth}"
						th:value="${UTV.dateOfBirth}" class="form-control kichthuoc"
						id="ngaysinh" required="required" min="1960-01-01" max="a()"></th>

				</tr>

				<tr>
					<th colspan="3">Giới Tính<br> <br> <select
						class="form-control kichthuoc" th:field="${UTV.gender}">
							<option th:each="gender : ${ABC}" th:value="${gender}"
								th:utext="${gender}">gt</option>
					</select>
					</th>
					<th colspan="3">Địa chỉ<br> <br> <input type="text"
					oninvalid="InvalidMsg(this);" oninput="InvalidMsg(this);"
						class="form-control kichthuoc" th:field="${UTV.address}" name=""
						required="required"></th>
				<tr>
					<th colspan="3">Số điện thoại<br> <br> <input
					oninput="Invalidphone(this)" oninvalid="Invalidphone(this)"
						type="tel" placeholder="số điện thoại gồm 10 số: 0123456789"
						pattern="[0-9]{10}" th:field="${UTV.users.phoneNumber}"
						class="form-control kichthuoc" name="" required="required">
					</th>
					<th>ĐỊA CHỈ ƯU TIÊN<br> <br> <select
						class="form-control kichthuoc"
						th:field="${UTV.priorityAddress.priorityAddressName}">
							<option th:each="ad : ${address}"
								th:value="${ad.priorityAddressName}"
								th:text="${ad.priorityAddressName}">PriorityAddress</option>

					</select></th>
				</tr>
				
				<tr>
					<th colspan="3">LĨNH VỰC HOẠT ĐỘNG<br> <br> <select
						id="nganhid" class="form-control kichthuoc"
						th:field="${UTV.industry.industryName}" onchange="submitForm()">
							<option th:each="inds : ${ind}" th:value="${inds.industryName}"
								th:text="${inds.industryName}">Industry</option>
					</select>
					</th>

					<!-- <th colspan="3">NGHỀ<br> <br> <select
						id="nghe" class="form-control kichthuoc"
						th:value="${UTV.industry.jobs}">
							<option th:each="jobs : ${job}" th:value="${jobs.jobName}"
								th:text="${jobs.jobName}">Industry</option>
					</select>
					</th>


					 <th colspan="3" th:each="job : ${jobs}">NGHỀ<br> <br> <select id="nganhid"
						 class="form-control kichthuoc"
						th:field="${job.jobName}">
							<option th:each="job : ${jobs}" th:value="${job.jobName}"
								th:text="${job.jobName}">Industry</option>
					</select>
					</th>-->
				</tr>
				<tr>
					<th  colspan="3"><input type="submit" class=" btn_update"
						value="Cập nhật" id="updateButton"></th>
					<th  colspan="3"><a th:href="@{/}">Hủy</a></th>
				</tr>

			</table>
		</form>
	<script type="text/javascript">
	document.getElementById("updateButton").addEventListener("click",
			function(event) {
				var ngay = new Date($.now())
				var  a = ngay.getFullYear()
				ngay.setFullYear(a-15)

				var ngaysinh = new Date($("#ngaysinh").val())
				
				if(ngaysinh>ngay){
					alert("Năm sinh phải nhỏ hơn năm hiện tại ít nhất 15 năm");
					event.preventDefault()
				}
			});
	</script>

	</div>
</div>


</body>
</html>
